@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Bebas+Neue&family=Staatliches&family=Titillium+Web:wght@900&display=swap');
/* reset css */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-size: 100%;
	background-image: url(../imagens/produtos-background.jpg);
	background-repeat: no-repeat;
	background-size:cover

}
.caixa{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 25px;
	
	
}
.cabecalho-logo{
	height: 60px;

}
.caixa-menu-item{
	flex-direction: row;
	align-items: center;
	font-size: 18px;
	color:#fdfdfd;
	font-family: 'Alatsi', sans-serif;
	
	
}
.caixa-menu-item:hover{
	color: #cf8901;
}


.caixa-menu{
	display: flex;
	gap: 35px;
	list-style: none;
	
}

.produtos{
	font-size: 15px;
	color: #fdfdfd;
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
	
}
.produtos li{
display: inline-block;
text-align: center;
width: 30%;
vertical-align: top;
margin: 0 1.5%;
padding: 30px 20px;
box-sizing: border-box;
border: 1px solid #fdfdfd;
border-radius: 20px;
background-color: transparent;
backdrop-filter: blur(5px);

}
.produtos li:hover{
	border-color: #cf8901;
	
}
.produtos li:active{
	border-color: rgb(29, 205, 85);
}
.produtos li:hover h2{
	transform: scale(1.4);
	color: #cf8901;
}
.produtos li:active h2{
	color: rgb(29, 205, 85);
}

.produtos h2{
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
}

.produtos-descricao{
	font-size: 18px;
	font-family: 'Alatsi', sans-serif;
}
.produtos-preco{
	font-size: 22px;
	font-family: 'Staatliches', cursive;
	margin: 10px 0 0;
}

